@charset "utf-8";
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans+KR');

/* 초기화 */
* {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration:none; outline:0; color:#333;}
img {border:0; vertical-align:top; width:100%;}
body {font:normal 16px/1.6 'Fira Sans', 'Noto Sans KR', sans-serif;}
.hide_phone {display:none !important;}

/* 헤더 */
#home {position:relative; width:100%; font-size:1.1em; line-height:1.5; letter-spacing:3px; margin:0 auto; }

#gnb {position:fixed; left:0; top:0; width:100%; background:#fff; box-shadow:1px 0px 5px 1px #333; z-index:10;}
#gnb #logo {font-size:1.1em; padding:15px 30px; font-weight:normal; float:left;}


/* 메인 슬라이드 이미지 */
#slide {width:100%; margin:0 auto; margin-top:60px;}
#slide h1 {position:absolute; left:50%; top:50%; width:85px; height:60px; line-height:60px; text-align:center; margin-top:-30px; margin-left:-42.5px; font-weight:normal; color:#fff;}
#slide h1 b {background:rgba(0,0,0,0.5); padding:10px;}
#slide img {width:100%;}

/* 콘텐츠 */
#content {width:90%; margin:0 auto;}
h2 {margin-bottom:50px; padding-bottom:20px; font-size:1.5em; border-bottom:1px solid rgba(199, 187, 187,0.2);}

/* 프로젝트 */
#projects {padding-top:10%;}
#projects>div>div {position:relative;}
#projects>div>div>h3 {position:absolute; left:0; top:0; width:150px; height:40px; line-height:40px; text-align:center; background:#000; color:#fff; font-size:1em; font-weight:normal;}
#projects>div>div:first-of-type {margin-bottom:5%;}

/* 어바웃 */
#about {padding-top:10%;}
#about>h2 {margin-bottom:20px;}
#about>p {margin-bottom:50px;}

#about>div>div * {margin:10px 0;}
#about>div>div h3 {font-size:1.6em;}
#about>div>div p:first-of-type {color:#999;}
#about>div>div button {display:block; border:0; background:#ddd; width:100%; height:35px; font-size:1.1em; color:#666;}

/* 컨텍트 */
#contact {padding-top:10%;}
#contact>h2 {margin-bottom:20px;}
#contact>p {margin-bottom:20px;}
#contact input {display:block; width:100%; height:40px; margin-bottom:15px; padding-left:10px; box-sizing:border-box; border:1px solid #ccc;}
#contact button {display:block; border:0; background:#333; width:160px; height:35px; font-size:0.9em; color:#fff; margin-top:20px; margin-bottom:40px;}

/* 구글맵 */
#googleMap {width:90%; max-width:1500px; margin:10px auto; height:450px; background:yellow; border:1px solid #ccc;}

/* 저작권 */
footer {background:#333; color:#fff; text-align:center; height:60px; line-height:60px; font-size:1.1em;}


@media all and (min-width:768px) {
   .show_tab {display:inline-block !important;}

   #gnb ul {float:right; padding:15px;}
   #gnb li {display:inline-block; padding-right:15px;}
   #slide h1 {width:300px; margin-left:-150px;}
   
   #projects>div>div {float:left; display:inline-block; width:49%; margin-right:2%;}
   #projects>div>div:nth-child(2n) {margin-right:0;}
   #projects>div>div:first-of-type {margin-bottom:2%;}

   #about {clear:both;}
   #about>div>div {float:left; position:relative; display:inline-block; width:49%; margin-right:2%;}
   #about>div>div:nth-child(2n) {margin-right:0;}

   #contact {clear:both;}
}

@media all and (min-width:1024px) {
   .hide_phone {display:inline-block !important;}

   #home,#content {max-width:1500px;}
   #projects,#about,#contact {padding-top:5%;}

   #projects>div>div {width:24%;}
   #projects>div>div:nth-child(n) {margin-right:1.33333%; margin-bottom:1.33333%;}
   #projects>div>div:nth-of-type(4) {margin-right:0;}
   
   #about>div>div {width:24%;}
   #about>div>div:nth-child(n) {margin-right:1.33333%; margin-bottom:1.33333%;}
   #about>div>div:nth-of-type(4) {margin-right:0;}
}

