@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css");

/* fullpage */
/* 헤더 */
header div {
    z-index:9999;
    position: fixed;
    width: 100%;
    height: 90px;
    background: lightblue;
}

/* 섹션1 */
#s1 {
    background: lightcoral;
}

/* 푸터에 있는 p의 높이 */
.fp-auto-height div {
    height: 200px;
    color: white;
    background: #000;
}

/* 푸터 영역 - 오른쪽 중앙에 있는 인디케이션 숨김 */
#fp-nav.right li:last-child {
    display: none;
}

