@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 초기화 */
* {box-sizing: border-box;}
body,ul {margin:0;}
ul {padding:0; list-style:none;}
a {text-decoration: none; color:#333;}

/* typo */
html {font-size: 10px;}
body {
    font:1.5rem/l.6 "Noto Sans KR", sans-serif;
}

.notice_data {
    display: flex;
}
