@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    font-size: 10px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.5;
}

/* font의 위계 */
/* 1depth, mainmenu */
/* .main>li>a { -> 메인메뉴만 */
 .main li a { /* -> 메인과 서브 모두 */
    font-size: 1.6rem;
    color: #999;
}

.main li a:hover {
    color: #fff;
}

/* 2depth, submenu */
.sub li a {
    font-size: 1.4rem;
    color: #333;
}